<main class="events-index"> 
  <h1>Event Overview</h1>

  <% if Event.upcoming.any?%>
    <div class="cards-container">
      <h2>Upcoming Events</h2>
      <% Event.upcoming.each do |event| %>
        <div class="event-card gradient-border">
          <h3><%= event.name %></h3>
          <hr>
          <p><%= event.location %></p>
          <p><%= event.date %></p>
          <%= button_to "View", event_path(event.id), method: :get %>
        </div>
      <% end %>
    </div>
  <% end %>

    <% if Event.past.any?%>
    <div class="cards-container">
      <h2>Past Events</h2>
      <% Event.past.each do |event| %>
        <div class="event-card gradient-border">
          <h3><%= event.name %></h3>
          <hr>
          <p><%= event.location %></p>
          <p><%= event.date %></p>
          <%= button_to "View", event_path(event.id), method: :get  %>
        </div>
      <% end %>
    </div>
  <% end %>
</main>
