<%= render "header" %>

<main> 
  <h1>Event Overview</h1>
  
  <% @events.each do |event| %>
    <div class="event">
      <h2><%= event.name %></h2>
      <p><%= event.location %></p>
      <p><%= event.date %></p>
      <p><%= link_to "View", event_path(event.id) %></p>
    </div>
  <% end %>
  
</main>
